<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @photo.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @photo.description %>
</p>

<p>
  <strong>Favourite:</strong>
  <%= @photo.favourite %>
</p>

<p>
  <strong>Album:</strong>
  <%= @photo.album %>
</p>

<p>exposure: <%= @photo.image.metadata['exif'].first['exposure_time'] %></p>
<p>ISO: <%= @photo.image.metadata['exif'].first['iso_speed_ratings'] %></p>
<p>focal_length: <%= @photo.image.metadata['exif'].first['focal_length'] %></p>

<%= image_tag Location.new(@photo.image.metadata['latitude'], @photo.image.metadata['longitude']).map_url, class: 'img-fluid' %>
<p><%= @photo.image.metadata['exif'].first.keys %></p>
<p><%= @photo.image.metadata %></p>

<%= image_tag @photo.image, class: 'img-fluid' if @photo.image.attached? %>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
<!-- TODO: Fav need a helper  -->
<%= link_to 'Fav', favourite_photo_path(@photo), method: :put, remote: false, class: "btn #{ @photo.favourite ? 'btn-warning' : 'btn-secondary'} btn-sm" %>
